## ignore .pyc files
*.pyc

## ignore .egg files
*.egg-info

## ignore build and dist directories
build/
dist/
docs/_*

## ignore files used for testing
tests/files/*

## ignore files used for documentation
docs/images/*
docs/gw/parameter_descriptions.csv
docs/gw/tutorials/GW190814.h5
docs/gw/tutorials/posterior_samples.ipynb

## ignore __pycache__ directories
__pycache__

## ignore version file
.version

## ignore directories created from coverage
.outdir/
.outdir_bilby/
.outdir_lalinference/
.outdir_cbc/
.outdir_comparison/
.outdir_addition/
.outdir_add_to_existing/
.outdir_existing/
.outdir_test/
.eggs/
.coverage
