astropy >=3.2.3,<=4.2.1
bilby >=1.1.1
corner
deepdish
gwpy >=2.0.2
h5py
ligo.skymap
matplotlib-base
numpy >=1.15.4
p_astro
pandas
pepredicates >=0.0.2
plotly
pygments
pytables
python-lal
python-lalsimulation
python-lalinference
scipy
seaborn >=0.11.0
statsmodels
tqdm >=4.44.0
