astropy >=3.2.3
bilby >=1.1.1
corner
deepdish
gwpy >=2.0.2
h5py
ligo.em-bright >=0.1.2
ligo.skymap
matplotlib-base
numpy >=1.15.4
pandas
pepredicates >=0.0.2
plotly
pygments
pytables
python-lal
python-ligo-lw <= 1.7.1
python-lalsimulation
python-lalinference
scipy
seaborn >=0.11.0
statsmodels
tqdm >=4.44.0
