include CONTRIBUTING.md LICENSE.md README.md
include pesummary/.version
include pesummary/gw/plots/cylon.csv
include pesummary/conf/matplotlib_rcparams.sty
include pesummary/core/js/*.js
include pesummary/core/css/*.css
include versioneer.py
include pesummary/_version.py
recursive-include pesummary/tests *ini *txt *xml *.sh *gz
