pytest
pytest-cov
coloredlogs
coverage
coverage-badge
beautifulsoup4
Sphinx>=1.2.2
sphinx-argparse
sphinx_rtd_theme
sphinxcontrib-programoutput
testfixtures
ligo.skymap
pepredicates>=0.0.3
p_astro
nbformat
nbsphinx
jupyter_client
ipykernel
requests
gwosc
