bilby>=1.1.1
pytest
pytest-cov
coloredlogs
coverage
coverage-badge
beautifulsoup4
Sphinx>=1.2.2
sphinx-argparse
sphinx_rtd_theme
sphinx-panels
sphinxcontrib-programoutput
testfixtures
ligo.em-bright
ligo.skymap
pepredicates>=0.0.3
nbformat
nbsphinx
jupyter_client
ipykernel
requests
gwosc
GitPython
ligo.em-bright>=0.1.2
