numpy>=1.15.4
h5py
matplotlib
seaborn>=0.11.0
statsmodels
corner
tables
deepdish
pandas
pygments
astropy>=3.2.3
lalsuite>=7.0.0
python-ligo-lw<=1.7.1
ligo-gracedb
gwpy>=2.1.2
plotly
pillow
tqdm>=4.44.0
