numpy>=1.15.4
h5py
matplotlib
seaborn
statsmodels
corner
tables
deepdish
pandas
pygments
astropy>=3.2.3 #<=3.2.2 gives astropy.utils.iers error
lalsuite>=6.70.0 #<=6.70.0 gives lalsimulation error
ligo.gracedb
configparser
gwpy
plotly
tqdm>=4.44.0
