numpy>=1.15.4
h5py<=3.2.1
matplotlib
seaborn>=0.11.0
statsmodels
corner
cython>=0.28.5
tables
deepdish
pandas
pygments
astropy>=3.2.3
lalsuite>=6.70.0
python-ligo-lw
ligo-gracedb
gwpy>=2.0.2
plotly
pillow
tqdm>=4.44.0
